@import url(./_reset.css);

/* Overrides */
.navbar {
  z-index: 2;
}

.btn {
  transition: all 0.1s ease-in-out;
}

.btn-gray:hover {
  outline: 2px solid var(--color-gray);
  background-color: var(--color-gray);
  outline-offset: 2px;
}
